[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pytest = "*"
pyhana = {git = "https://github.com/philipphager/pyHANA.git"}

[requires]
python_version = "3.6"
